<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="My_Test.Properties.Settings.TestConnectionString"
            connectionString="Data Source=DESKTOP-L9KBQDS\SERVER;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="My_Test.Properties.Settings.TestConnectionString1"
            connectionString="Data Source=LAPTOP-8JU6M3R5\SQLEXPRESS;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
